.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 32px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.side-info {
  max-width: 280px;
  background-color: #fff;
  border-radius: 4px;
  padding: 18px;
}

.user-info {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  align-items: center;

}

.user-info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info h2 {
  font-size: 20px;
  font-weight: 700;
}

.user-info p {
  font-size: 14px;
  font-weight: 400;
  color: #4A5568;
}

.user-description {
  width: 100%;
  color: #4A5568;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.content-info {
  list-style: none;

}

.content-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 11px;
}

.content-item mat-icon {
  margin-right: 1px;
  font-size: 18px;
}

.content {
  max-width: 904px;
}

.repos-container {
  max-width: 904px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.repos-info {
  width: 100%;
  margin-bottom: 32px;
}

.repos-info h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
  color: #171923
}
.repos-info h3 a {
  text-decoration: none;
  color: #171923;
}

.repos-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4A5568;
  margin-bottom: 17px;
}

.repos-details {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4A5568
}

.repos-details span {
  margin-left: 8px;
}

.repos-details mat-icon {
  font-size: 20px;
}


.top-margin{
  margin-top: 66px;
}
